PORT=3000
FRONTEND_URL=http://locaalhost:5173
MONGODB_URL=mongodb+srv://<db_username>:T4Zg6HLS4Pglacse@cluster0.dov2rpu.mongodb.net

//node -e "console.log(require('crypto').randomBytes(32).toString('hex'))" -> runn this command for getting the Keys

ACCESS_TOKEN_SECRET=replace_with_your_own_random_secret
REFRESH_TOKEN_SECRET=replace_with_a_different_random_secret

MAIL_USER=your_gmail_address@gmail.com
MAIL_APP_PASSWORD=your_16_char_gmail_app_password